.backgroundcolor {
  background-image: url("../public/Rectangle\ 9.png");
  width: 914.18px;
  position: absolute;
  top: 0;
  right: -147px;
  z-index: 1;
  height: 811px;
  background-repeat: no-repeat;
}
.backgroundbox {
  background-image: url("../public/section\ 2\ box.png");
  width: 1080px;
  position: absolute;
  top: 101px;
  right: -420px;
  z-index: 1;
  height: 710px;
  background-repeat: no-repeat;
}
.backgroundboxworkshop {
  background-image: url("../public/section\ 2\ box.png");
  width: 1440px;
  position: absolute;
  top: 101px;
  z-index: 1;
  height: 811px;
  background-repeat: no-repeat;
}
.backgroundcolor2 {
  background-image: url("../public/section\ 2\ color.png");
  width: 914.18px;
  position: absolute;
  top: 0;
  right: -147px;
  z-index: 1;
  height: 811px;
  background-repeat: no-repeat;
}
.backgroundbox2 {
  background-image: url("../public/Group\ 1.png");
  width: 1080px;
  position: absolute;
  top: -50px;
  right: -420px;
  z-index: 1;
  height: 811px;
  background-repeat: no-repeat;
}
.bordergradient {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #545454;
}
.gradientcard {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #545454;
}
.hovercard {
  transition: 0.3s;
}
.gradientcard:hover .hovercard {
  bottom: 320.08px;
  font-size: 85.48px;
  line-height: 73.51px;
  letter-spacing: -3%;
  opacity: 1;
  width: 332.41px;
}
.cardbg {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #545454;
}
.cardfsbg {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #545454;
}
.circle {
  width: 766.17px;
  height: 766.17px;
  border-radius: 100%;
  position: absolute;
  top: 116px;
  right: -191.61px;
  filter: blur(160px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #1bd44f 0%,
    rgba(14, 11, 180, 0.43) 100%
  );
}
.footer {
  filter: blur(120px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #1bd44f 0%,
    rgba(14, 11, 180, 0.43) 100%
  );
  width: 1401px;
  height: 849.12px;
  opacity: 0.7;
}
.client {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #1bd44f 0%,
    rgba(14, 11, 180, 0.43) 100%
  );
  width: 959px;
  height: 959px;
  position: absolute;
  top: 226px;
  left: 806.74px;
  filter: blur(120px);
}
.learncard {
  background: linear-gradient(0deg, rgba(10, 10, 10, 0), rgba(10, 10, 10, 0.1)),
    linear-gradient(
      90.41deg,
      rgba(37, 20, 108, 0) 30.71%,
      rgba(45, 22, 141, 0.6) 99.65%
    ),
    linear-gradient(
      329.51deg,
      rgba(37, 20, 108, 0) 68.4%,
      rgba(22, 141, 134, 0.6) 126.82%
    );
}
.circle1 {
  width: 849.12px;
  height: 849.12px;
  border-radius: 100%;
  position: absolute;
  bottom: -386px;
  right: -215.61px;
  filter: blur(120px);
  opacity: 0.9;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #1bd44f 0%,
    rgba(14, 11, 180, 0.43) 100%
  );
}
.circle2 {
  width: 766.17px;
  height: 766.17px;
  border-radius: 100%;
  position: absolute;
  top: -116px;
  left: -191.61px;
  filter: blur(160px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #1bd44f 0%,
    rgba(14, 11, 180, 0.43) 100%
  );
  opacity: 0.3;
}
